{% extends "::base.html.twig" %}

{% block title %}AppBundle:Report:Generate2{% endblock %}

{% block body %}
<h1>Welcome to the Report:Generate2 page</h1>

{{ company.street }}
{{ company.houseNr }}

{% endblock %}
